Source: sysbench
Section: misc
Priority: extra
Maintainer: Alexey Kopytov <akopytov@gmail.com>
Build-Depends: debhelper, autoconf, automake, libtool, libmysqlclient-dev, libpq-dev, pkg-config, vim-common, python-minimal
Standards-Version: 3.9.5
Homepage: https://github.com/akopytov/sysbench

Package: sysbench
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Scriptable database and system performance benchmark
 sysbench is a scriptable multi-threaded benchmark tool based on
 LuaJIT. It is most frequently used for database benchmarks, but can also
 be used to create arbitrarily complex workloads that do not involve a
 database server.
 .
 sysbench comes with the following bundled benchmarks:
 .
 - oltp_*.lua: a collection of OLTP-like database benchmarks
 - fileio: a filesystem-level benchmark
 - cpu: a simple CPU benchmark
 - memory: a memory access benchmark
 - threads: a thread-based scheduler benchmark
 - mutex: a POSIX mutex benchmark
